<ion-content>
  <ion-item>Ejercicio 5</ion-item>
  <ion-grid>

    <ion-row>
  
      <ion-col  size-xs="12" size-lg="2">
        <img src="assets/img/Img.png">
      </ion-col>
  
      <ion-col  size-lg="10" >
        Titulo
        <p>Descripcion</p>
      </ion-col>
  
    </ion-row>
  
  </ion-grid>
</ion-content>


<ion-buttons slot="start" routerLink="/ejercicio4">
  <ion-button>Atras</ion-button>
</ion-buttons>
<ion-buttons slot="start" routerLink="/ejercicio">
  <ion-button>Principio</ion-button>
</ion-buttons>